<div class="container">
  <h1>{{ title }}</h1>

  <h2 [ngStyle]="{ margin: '0 0 24px 0' }">
    <ng-container *ngIf="!maxNumberOfTimeZonesReached">
      You added {{ numberOfTimeZones }} timezones
    </ng-container>
    <ng-container *ngIf="maxNumberOfTimeZonesReached">
      You added the maximum amount of timezones</ng-container
    >
  </h2>

  <button
    *ngIf="!maxNumberOfTimeZonesReached"
    type="button"
    (click)="addTimeZone()"
    [ngStyle]="{ margin: '0 0 24px 0' }"
  >
    Add a new timezone
  </button>

  <app-timezone
    *ngFor="let timeZone of timeZoneArray"
    [thisTimeZone]="timeZones[0]"
    [selectedTimeZone]="selectedTimeZone"
    [timeZones]="timeZones"
    (timeZoneChange)="setSelectedTimeZone($event)"
  ></app-timezone>
</div>
